<a href="https://colab.research.google.com/github/jiyoung-99/boiler-plate-node/blob/master/n112a_feature_engineering_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 

- 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”. ë‹¨ ì—¬ê¸°ì„œ ì ìœ ìœ¨ì€ ì¼ë°˜ë‹´ë°° ê¸°ì¤€ì´ë©° 18ë…„:62%, 19ë…„ 63.5% ë¡œ ê³„ì‚°í•©ë‹ˆë‹¤. ì‹œì¥ì˜ ê·œëª¨ëŠ” 18ë…„ 15ì¡°, 19ë…„ 16ì¡° ë¼ê³  ê°€ì •í•©ë‹ˆë‹¤. 

ì°¸ì¡° : 
<http://it.chosun.com/site/data/html_dir/2020/02/13/2020021302434.html>

In [1]:
# KT&G ê¸°ì—…ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°, ìˆ«ìëŠ” ì–µ ë‹¨ìœ„
import pandas as pd

df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv')

df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [2]:
# ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”.

df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡            object
ì˜ì—…ì´ìµ           object
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
dtype: object

In [3]:
# ê³„ì‚° ì „ ëª¨ë‘ ìˆ«ìë¡œ ë°”ê¿”ì¤€ë‹¤.
# ìˆ«ìë¡œ ë°”ê¿”ì£¼ëŠ” í•¨ìˆ˜ ì„ ì–¸, replce ì“°ì§€ ì•ŠìŒ
def to_int(is_string):
    return int(''.join(is_string.split(',')))

In [4]:
# ì˜ì—…ì´ìµìœ¨ì— í•„ìš”í•œ ì˜ì—…ì´ìµ, ë§¤ì¶œì•¡ ì»¬ëŸ¼ ìˆ«ìë¡œ ë³€ê²½
df['ë§¤ì¶œì•¡_int'] = df['ë§¤ì¶œì•¡'].apply(to_int)
df['ì˜ì—…ì´ìµ_int'] = df['ì˜ì—…ì´ìµ'].apply(to_int)
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡            object
ì˜ì—…ì´ìµ           object
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
ë§¤ì¶œì•¡_int         int64
ì˜ì—…ì´ìµ_int        int64
dtype: object

In [5]:
# ì˜ì—…ì´ìµ/ë§¤ì¶œì•¡ X 100 = ì˜ì—…ì´ìµë¥ 
# round í•¨ìˆ˜ë¡œ ì†Œìˆ«ì  ìë¦¬ 2ì§¸ìë¦¬ê¹Œì§€ í‘œí˜„
#################1ë²ˆ ë‹µ##################
df['ì˜ì—…ì´ìµì§ì ‘'] = df['ì˜ì—…ì´ìµ_int'] / df['ë§¤ì¶œì•¡_int'] * 100
df['ì˜ì—…ì´ìµì§ì ‘'] = round(df['ì˜ì—…ì´ìµì§ì ‘'], 2)
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ... PER(ë°°) ë§¤ì¶œì•¡_int ì˜ì—…ì´ìµ_int  ì˜ì—…ì´ìµì§ì ‘
0   19/6  12,578  3,991      3,991  ...  13.77   12578     3991   31.73
1   19/9  13,222  3,825      3,825  ...  13.87   13222     3825   28.93
2  19/12  11,982  2,523      2,523  ...  12.42   11982     2523   21.06
3   20/3  11,784  3,150      3,150  ...   9.71   11784     3150   26.73
4   20/6  13,188  3,947      3,947  ...  10.46   13188     3947   29.93

[5 rows x 28 columns]

In [ ]:
#18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”. ë‹¨ ì—¬ê¸°ì„œ ì ìœ ìœ¨ì€ ì¼ë°˜ë‹´ë°° ê¸°ì¤€ì´ë©° 18ë…„:62%, 19ë…„ 63.5% ë¡œ ê³„ì‚°í•©ë‹ˆë‹¤. 
# ì‹œì¥ì˜ ê·œëª¨ëŠ” 18ë…„ 15ì¡°, 19ë…„ 16ì¡° ë¼ê³  ê°€ì •í•©ë‹ˆë‹¤.
# ì‹œê°€ì´ì•¡ì„ TAMì— í•´ë‹¹ ê¸°ì—…ì˜ ì‹œì¥ì ìœ ìœ¨ì„ ê³±í•œ ê°’ìœ¼ë¡œ ë‚˜ëˆ  PDRì„ ì‚°ì¶œí•œë‹¤. 
# ì˜ˆë¥¼ ë“¤ì–´ ì‹œê°€ì´ì•¡ 5ì¡°ì› ê·œëª¨ì˜ Aì—…ì²´ê°€ 100ì¡°ì›ì˜ ì‹œì¥ ê·œëª¨ë¥¼ ê°€ì§„ ì‚°ì—… ë‚´ì—ì„œ 10%ì˜ ì‹œì¥ì ìœ ìœ¨ì„ ê°–ê³  ìˆë‹¤ë©´ PDRì€ 0.5ë‹¤.

# 2018ë…„ : 13.8ì¡°(ì‹œì´)/15ì¡°*0.62
# 2019ë…„ : 12ì¡°/16ì¡°*0.635

In [6]:
#2018ë…„  138,000 / (150,000*0.62)
#2019ë…„  120,000/160,000*0.635

#ë³€ìˆ˜ ê° ë…„ë„ë³„ ì‹œê°€ì´ì•¡
mc_2018 = 138000
mc_2019 = 120000
#TAM ë³€ìˆ˜
tam_2018 = 150000
tam_2019 = 160000
# ì‹œì¥ì ìœ ìœ¨ ë³€ìˆ˜
ms_2018 = 0.62
ms_2019 = 0.635

In [7]:
pdr_dict = {'ì—°ë„':['2018','2019']
            ,'ì‹œê°€ì´ì•¡':[mc_2018, mc_2019]
            ,'TAM':[tam_2018,tam_2019]
            ,'ì‹œì¥ì ìœ ìœ¨':[ms_2018,ms_2019]
            }

In [8]:
#ë°ì´í„°í”„ë ˆì„ë§Œë“¤ê¸°
df_pdr = pd.DataFrame(pdr_dict)
df_pdr.head()
df_pdr['PDR'] = df_pdr['ì‹œê°€ì´ì•¡']/(df_pdr['TAM']*df_pdr['ì‹œì¥ì ìœ ìœ¨'])
#######################1.2ë²ˆë‹µ#######################
# pdr ì¶”ê°€í•´ì„œ dataframe ì¶œë ¥
df_pdr.head()

     ì—°ë„    ì‹œê°€ì´ì•¡     TAM  ì‹œì¥ì ìœ ìœ¨       PDR
0  2018  138000  150000  0.620  1.483871
1  2019  120000  160000  0.635  1.181102

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [9]:

################# 2ë²ˆ ë‹µ #################
not_replace = int(''.join(df['ë§¤ì¶œì•¡'][0].split(',')))
print(not_replace)
type(not_replace)

12578

int

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  ë¶€ë¶„ì— ëŒ€í•´ì„œ `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” 0ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [10]:
# ë‹¤ì‹œ ì„ ì–¸
df_apply = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv')

In [11]:
# ê²°ì¸¡ì¹˜ 0ìœ¼ë¡œ ì²˜ë¦¬
df_apply = df_apply.fillna(0)
df_apply.head()

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [12]:
# dataframe ì—ì„œ ë¶„ê¸° ì»¬ëŸ¼ ì‚­ì œ
df_apply = df_apply.drop('ë¶„ê¸°', axis=1)
df_apply

      ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€) ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›) PER(ë°°)
0  12,578  3,991      3,991    4,452  ...  31.43  803.22   2,351  13.77
1  13,222  3,825      3,825    4,503  ...  24.17  836.86   2,337  13.87
2  11,982  2,523      2,523    1,794  ...  23.04  850.82     873  12.42
3  11,784  3,150      3,150    4,156  ...  29.69  823.16   2,134   9.71
4  13,188  3,947      3,947    4,020  ...  26.91  837.40   2,135  10.46

[5 rows x 24 columns]

In [13]:
df_apply.dtypes

ë§¤ì¶œì•¡            object
ì˜ì—…ì´ìµ           object
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
dtype: object

In [14]:
# object í˜•ì€ ëª¨ë‘ int í˜•ìœ¼ë¡œ ë³€ê²½
df_apply['ë§¤ì¶œì•¡'] = df_apply['ë§¤ì¶œì•¡'].apply(to_int)
df_apply['ì˜ì—…ì´ìµ'] = df_apply['ì˜ì—…ì´ìµ'].apply(to_int)
df_apply['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)'] = df_apply['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)'].apply(to_int)
df_apply['ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ'] = df_apply['ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ'].apply(to_int)
df_apply['ë‹¹ê¸°ìˆœì´ìµ'] = df_apply['ë‹¹ê¸°ìˆœì´ìµ'].apply(to_int)
df_apply['ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)'] = df_apply['ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)'].apply(to_int)
df_apply['ìì‚°ì´ê³„'] = df_apply['ìì‚°ì´ê³„'].apply(to_int)
df_apply['ë¶€ì±„ì´ê³„'] = df_apply['ë¶€ì±„ì´ê³„'].apply(to_int)
df_apply['ìë³¸ì´ê³„'] = df_apply['ìë³¸ì´ê³„'].apply(to_int)
df_apply['ìë³¸ì´ê³„(ì§€ë°°)'] = df_apply['ìë³¸ì´ê³„(ì§€ë°°)'].apply(to_int)
df_apply['ìë³¸ê¸ˆ'] = df_apply['ìë³¸ê¸ˆ'].apply(to_int)
df_apply['ì˜ì—…í™œë™í˜„ê¸ˆíë¦„'] = df_apply['ì˜ì—…í™œë™í˜„ê¸ˆíë¦„'].apply(to_int)
df_apply['íˆ¬ìí™œë™í˜„ê¸ˆíë¦„'] = df_apply['íˆ¬ìí™œë™í˜„ê¸ˆíë¦„'].apply(to_int)
df_apply['ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„'] = df_apply['ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„'].apply(to_int)
df_apply['EPS(ì›)'] = df_apply['EPS(ì›)'].apply(to_int)
df_apply.dtypes

ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
dtype: object

In [15]:
# ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  ë¶€ë¶„ì— ëŒ€í•´ì„œ describeë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
##################3ë²ˆë‹µ##################
df_apply.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...       EPS(ì›)     PER(ë°°)
count      5.000000     5.000000  ...     5.000000   5.000000
mean   12550.800000  3487.200000  ...  1966.000000  12.046000
std      664.979097   636.931079  ...   619.939513   1.898112
min    11784.000000  2523.000000  ...   873.000000   9.710000
25%    11982.000000  3150.000000  ...  2134.000000  10.460000
50%    12578.000000  3825.000000  ...  2135.000000  12.420000
75%    13188.000000  3947.000000  ...  2337.000000  13.770000
max    13222.000000  3991.000000  ...  2351.000000  13.870000

[8 rows x 24 columns]

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [80]:
import numpy as np


# ë‹¤ì‹œ ë°ì´í„° ë°›ì•„ì˜¤ê¸°
df_plus = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv')
# 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
df_plus.head()

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [85]:
#ê²°ì¸¡ê°’ìœ¼ë¡œ ë³€ê²½
##############ë„ì „ê³¼ì œ1.1ë²ˆ ë‹µ ###############3
df_plus.iloc[2,5] = np.NaN
df_plus.head()

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [86]:
# ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”
# mean imputation ì€ ê²°ì¸¡ì¹˜ì— í‰ê·  ê°’ ë„£ê¸°###############
df_plus['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = df_plus['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].fillna(df_plus['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].mean())
df_plus.head()

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [56]:
#ìš°ì„  í‰ê·  ë¨¼ì € êµ¬í•œë‹¤.

df_sale = df_plus[['ë¶„ê¸°','ë§¤ì¶œì•¡']]
df_sale
# ìµœê·¼ 1ë…€ê°„ í‰ê·  ë§¤ê¸°ëŠ”ë° í•„ìš”ì—†ëŠ” 0ë²ˆì§¸ ì¸ë±ìŠ¤ ì‚­ì œ
df_sale_drop = df_sale.drop(index=0, axis=1)
# ìˆ«ìë¡œ ë°”ê¿”ì¤€ë‹¤.
df_sale_drop['ë§¤ì¶œì•¡'] = df_sale_drop['ë§¤ì¶œì•¡'].apply(to_int)

In [57]:
df_sale_drop.head()

      ë¶„ê¸°    ë§¤ì¶œì•¡
1   19/9  13222
2  19/12  11982
3   20/3  11784
4   20/6  13188

In [59]:
# mean()ì„ ì¨ì„œ í‰ê·  êµ¬í•œë‹¤.
sale_mean = df_sale_drop.mean()
print(sale_mean)

ë§¤ì¶œì•¡    12544.0
dtype: float64

In [61]:
# í‰ê·  12544 ë¥¼ ë³€ìˆ˜ë¡œ ì„ ì–¸
mean_value = 12544

In [66]:
# 10% ì´ìƒ -> S
# 5% ì´ìƒ -> A
# -5 ~ 5% -> B
# -5%ì´í•˜ -> C
# 10%ì´í•˜ -> D

print('S : ', round(mean_value*1.1, 1), '% ì´ìƒ')
print('A : ', mean_value*1.05, '% ì´ìƒ')
print('B : ', mean_value*0.95, '% ì´ìƒ ~ ', mean_value*1.05, '% ë¯¸ë§Œ')
print('C : ', mean_value*0.95, '% ì´í•˜')
print('D : ', mean_value*0.9, '% ì´í•˜')

S :  13798.4 % ì´ìƒ
A :  13171.2 % ì´ìƒ
B :  11916.8 % ì´ìƒ ~  13171.2 % ë¯¸ë§Œ
C :  11916.8 % ì´í•˜
D :  11289.6 % ì´í•˜